@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
textarea {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(229, 235, 255);
}

textarea {
    border: 1px solid rgb(21, 21, 21);
    padding: 10px;
    resize: none;
}

textarea:focus {
    outline: none;
    background-color: aliceblue;
}